<h1>My templates</h1>

<div class="description">
	<p>Welcome to my website!</p>
	<p>These pages have been created as part of my CSS learning and practice.</p>
</div>

<div class="buttons">
	<a href="/template-1" class="button">Page 1</a>
	<a href="/template-2" class="button">Page 2</a>
	<a href="/template-3" class="button">Page 3</a>
	<a href="/template-4" class="button">Page 4</a>
	<a href="/template-5" class="button">Page 5</a>
	<a href="/template-6" class="button">Page 6</a>
	<a href="/template-7" class="button">Page 7</a>
	<a href="/slack" class="button">Page 8</a>
	<a href="/dashboard" class="button">Page 9</a>
</div>
</body>